img {
    width: 200px;
}

#profile {
    background:  rgb(99,0,168);
    padding: 25px 0;
}

ul, li {
    display: inline;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 20px auto;
}

li {
    padding-right: 20px;
}

#description {
    margin: 10px auto;
}

p::before {
    margin-bottom: 20px;
    content: "";
    border-bottom: 3px solid  rgb(99,0,168);
    width: 150px;
    display: block;

}

h3 {
    margin-top: 20px;
}

#video {
    width: 70%;
}

#her-name {
    color: white;
    font-size: 2em;
}