.chart-custom {
    height: 400px;
}

.dash {
    background: #efefef;
    height: 65vh;
}

.container-cust {
    margin-top: 5.3%;
}

.custom-table {
    background:#efefef; 
    height: 400px;
}

 
.custom-navbar {
    background-color: #6300a8;
}