

.body-color{
    background-color: rgb(99,0,168);
    background: linear-gradient(353deg, rgba(99,0,168,1) 0%, rgba(255,90,95,1) 100%);
    height: 100vh;
}
.background-abm{
    border-radius: 25px;
    padding: 10; 

    background-color: rgb(166, 95, 216);
    background: linear-gradient(353deg, rgba(166, 95, 216) 0%, rgba(255,90,95,1) 100%);
    height: 70vh;
}

.displayFlex {
    display: flex;
}

.spaceBetween {
    justify-content: center;
    
}
